.product-inspect-carousel {
    width: 100%;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-image {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 15vh;
}

.carousel-slide.selected {
    border: 2px solid var(--primary-orange);
    /* Cor da borda quando selecionado */
}
