/* BagSideMenu.module.css */
.bag-side-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family);
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 450px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    align-content: center;
    text-align: center;
}

.bag-side-menu.open {
    transform: translateX(0);
}

.menu-header {
    background-color: var(--primary-brown);
    /* Fundo branco */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    /* Linha divisória */
}

.menu-header-title {
    display: flex;
    justify-content: left;
    color: var(--primary-orange);
    /* Cor do título */
    font-size: 1.2rem;
    /* Tamanho do título */
    font-weight: bold;
    margin: 0;
    direction: ltr;
    /* Garante a leitura da esquerda para a direita */
}

.empty-bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza o conteúdo */
    justify-content: center;
    /* Centraliza o conteúdo verticalmente */
    padding: 20px;
    height: 100%;
    direction: ltr;
    /* Garante a leitura da esquerda para a direita */
}

.empty-bag-title {
    text-align: center;
    color: var(--primary-brown);
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1rem;
}

.close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    direction: ltr;
    /* Garante que o botão fique à direita */

    img {
        width: 24px;
        /* Tamanho do ícone de fechar */
        height: 24px;
    }
}

.menu-content {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    direction: ltr;
}

.bag-items-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bag-items-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.bag-items-list li:last-child {
    border-bottom: none;
}

.bag-item {
    display: flex;
    align-items: center;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.item-price {
    font-size: 0.9rem;
    color: var(--primary-black);
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.quantity {
    font-size: 0.9rem;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.remove-button img {
    width: 20px;
    height: 20px;
}

.shipping-info {
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    direction: ltr;
}

.shipping-info p {
    font-size: 0.9rem;
    margin: 5px 0;
    text-align: left;
}

.shipping-calculation {
    margin-top: 10px;
}

.cep-input {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
}

.cep-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    width: 60%;
}

.order-summary {
    padding: 15px;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    direction: ltr;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 0.9rem;
}

.total {
    font-weight: bold;
}

.total-price {
    font-weight: bold;
    color: var(--primary-black);
}

.menu-actions {
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* Alinha os botões verticalmente */
    gap: 10px;
    direction: ltr;
}

.menu-actions-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza o botão horizontalmente */
    justify-content: flex-end;
    /* Empurra o botão para a parte inferior */
    padding: 15px;
    gap: 10px;
    height: 100%;
    /* Ocupa toda a altura para o justify-content funcionar */
    direction: ltr;
}


.checkout-button {
    background-color: white;
    color: var(--primary-black);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 800;
    border: 1px solid;
}

.checkout-button:hover {
    background-color: var(--hover-btn);
    color: white;
}



.menu-summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.shipping-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
}

.shipping-section-title {
    font-weight: 900;
}

.calculate-shipping-button {
    display: flex;
    text-align: center;
    align-content: center;
    width: 130px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: var(--primary-black);
    color: white;
    padding-left: 32px;
    padding-top: 10px;
    font-weight: 700;
    border: none;
    border-radius: 4px;

}

.clear-bag-button {
    background-color: white;
    color: var(--primary-black);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 800;
    border: 1px solid;
}

.clear-bag-button:hover {
    background-color: var(--hover-btn);
    color: white;
}

.calculate-shipping-button:hover {
    background-color: var(--hover-btn);
    color: white;
}

.summary-row {
    display: flex;
    justify-content: right;
    text-align: left;
    position: relative;
    left: -16px;

}

.continue-shopping-button {
    background-color: white;
    color: var(--primary-black);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 800;
    border: 1px solid;
    width: 100%;
}


.continue-shopping-button:hover {
    background-color: var(--hover-btn);
    color: white;
}