.modal-content {
    background-color: var(--primary-black);
    z-index: 1050;
    color: white;

}

.logo-rbs {
    width: 200px;
}

.content-logo {
    display: flex;
    margin: 0;
    position: relative;
    left: 100px;
    top: 10px;
}

@media (max-width: 768px) {
    .content-logo {
        left: 31px;
    }
}