.custon-header {
    background-color: var(--primary-black);
    font-family: var(--font-family) !important;
    padding: 30px;
    position: fixed;
    /* Adiciona o posicionamento fixo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Garante que o header fique acima de outros elementos */
}

.logo-rbs {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 0px;
    align-content: start;
    width: 300px;
    margin-left: -120px;
    height: auto;
    /* Ou um valor fixo se preferir */
    max-width: 330px;
    /* Ajuste conforme necessário */
    transition: transform 0.3s ease-in-out;
    /* Opcional: para suavizar outras transformações */
    animation: pulseLogo 2s infinite alternate;
    /* Adiciona a animação de pulso */

}


@keyframes pulseLogo {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
        /* Ajuste o valor para um pulso mais ou menos intenso */
    }
}

.content-iteration-user {
    display: flex;
    justify-content: flex-end;
    margin-left: 65vh;
    margin-top: 3vh;
    flex-direction: row;

}

.content-search {
    display: flex;
    justify-content: center;
    margin: 0;
}

.form-control {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 460px;
    max-width: 600px;
    height: 50px;
    border: none;
    outline: none;
    font-family: var(--font-family) !important;
    padding-left: 20px;
}

.nav-link {
    font-family: var(--font-family) !important;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn-search {
    display: block;
    background-color: transparent;
    border: none;
}

.search-ico {
    display: block;
    position: absolute;
    left: 90vh;
    top: 65px;
    width: 30px;
}

.iteration-header-text {
    font-family: var(--font-family);
    font-weight: 500;
    position: relative;
    left: 37px;
    top: 8px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .iteration-header-text {
        display: none;
    }

    .user-ico {
        cursor: pointer;
        position: relative;
        margin-right: 20px;


    }
}


.iteration-header {
    margin-right: 0px;
    position: relative;
    left: 30px;
}

.user-ico {
    cursor: pointer;
    position: relative;

}



.btn-logout {
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--font-family);
}

.content-item-count {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: black;
    margin-top: -53px;
    margin-left: 34px;
    text-decoration: none !important;
}

.item-count {
    text-decoration: none !important;
    text-align: center;
    padding: 5px;
}


.menu-open-content {
    margin-top: 3vh;
    cursor: pointer;
}

@media (max-width: 768px) {



    .form-control {
        display: flex;
        justify-content: center;
        margin: 0;
        max-width: 320px;
        position: relative;
        left: 3%;


    }

    .custon-header {
        width: 100%;
        display: flex;
        position: relative;
        height: 200px;
        padding: 6px 0px 0px
    }

    .iteration-header-text {
        display: none;
    }


    .content-iteration-user {
        display: flex;
        margin: 0;
        justify-content: right;
        flex-direction: row;
        position: relative;
        top: -172px;
        left: 202px;
        width: fit-content;

    }

    .search-ico {
        display: flex;
        position: absolute;
        top: 36px;
        width: 30px;
        z-index: 999;
        left: 280px;
    }

    @keyframes pulse-animation {
        0% {
            transform: scale(0.0);
            opacity: 0;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.0;
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    .pulse {
        animation: pulse-animation 0.0s infinite;
        /* Ajuste a duração e a intensidade conforme necessário */
    }

    .logo-rbs {}

    .content-iteration-user {
        position: relative;
        top: 10px;
    }

    .iteration-header {
        margin-right: 20px;
        width: 32px;
        position: relative;
        left: 10px;
    }
}

/* Estilos existentes ... */

.mobile-menu-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 10;
}

.desktop-menu-item {
    display: block;
    /* Exibe o item de menu na versão desktop */
}

/* Esconde a navegação principal e exibe o ícone em telas menores */
@media (max-width: 768px) {

    /* Ajuste a largura conforme sua necessidade */
    .navbar-expand-lg #navbarNav {
        display: none;
        /* Oculta a navegação principal */
    }

    .mobile-menu-icon {
        display: block;
        /* Exibe o ícone de menu */
    }

    .desktop-menu-item {
        display: none;
        /* Oculta o item de menu "Menu" da versão desktop */
    }

    .container {
        padding-left: 50px;
        /* Ajuste o padding para não sobrepor o ícone */
    }
}

/* Oculta o ícone em telas maiores (desktop) */
@media (min-width: 769px) {

    /* Ajuste a largura conforme sua necessidade */
    .mobile-menu-icon {
        display: none;
        /* Oculta o ícone de menu */
    }
}